.option-content .markdown-github p:only-child:not(:empty) {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.option-indicator,
button .option-content {
  display: flex;
  align-items: center;
}

.option-content .markdown-github p:only-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.option-content .markdown-github {
  height: 100%;
  justify-content: center;
}

.option-indicator {
  height: 24px;
  line-height: 24px;
}
