.markdown-content .markdown-github p {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.flex.items-center > span.font-medium {
  padding-top: 0.1rem;
}

.flex-grow.markdown-content {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
}

.markdown-content .markdown-github {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.markdown-github p:only-child {
  margin: 0;
}

.option-content .markdown-github p:only-child {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
}

.option-content {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.option-content .markdown-github {
  display: flex;
  align-items: center;
}

.flex.items-center .markdown-content .markdown-github p {
  margin: 0 !important;
  padding: 0;
}

.option-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
