.question-title {
  display: flex;
  flex-direction: column;
  gap: 4px !important;
}

.markdown-github h3[id^="cu-hi"] {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.question-number + .question-content {
  margin-top: 2px !important;
}

.ml-1.flex-grow.min-w-0 {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
}

.ml-1.flex-grow.min-w-0 p.text-xs.font-semibold {
  margin-bottom: 0 !important;
}

.ml-1.flex-grow.min-w-0 div.text-sm {
  margin-top: 2px !important;
}
